@if(member(); as member){
    <div class="flex flex-col gap-3">
        <div class="flex gap-2">
            <span class="font-semibold">Member Since: </span>
            <span>{{member.createdAt}}</span>
        </div>

        <div class="flex gap-2">
            <span class="font-semibold">Last Scene: </span>
            <span>{{member.lastActive}}</span>
        </div>
        <div class="text-lg font-semibold text-primary">About {{member.displayName}}</div>
        <div>{{member.description}}</div>
    </div>
}